* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(20, 48, 44, 1);
}
nav{
  width: 100%;
  display: flex;
}
.logo{
  margin-right: auto;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
img{
  max-width: 100%;
  max-height: 160px;
  object-fit: contain;
}
.weather_article {
  background-color: rgba(49, 48, 44, 1);
  padding: 0.5rem 3rem;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.loc__input-container {
  height: 100%;
  backdrop-filter: blur(20px);
  width: 100%;
  transition: all 400ms ease-in-out;

  display: none;

  position: absolute;
  z-index: 999;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
}

.autocomplete_container {
  position: relative;
  margin-inline: auto;
  border-radius: 12px;
}

.autocomplete_container input {
  width: 100%;
  outline: none;

  border-radius: 12px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10 2px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  top: calc(100% + 2px);
  left: 5px;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.autocomplete-items div:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(255, 255, 255, 0.5);
}

.clear-button {
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;

  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(255, 255, 255, 1);
}

.inpput_filed input {
  outline: none;
  background-color: #fff;
}

/* Forcasts */
.forecasts {
  max-width: 900px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.forcastItem {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  text-align: center;
}

.forcastItem img {
  width: 65px;
}

.full-width {
  display: none;
}

table {
  width: 100%;
  table-layout: fixed;
  display: block;
  border-collapse: collapse;
  border-spacing: 30px;
}
table th,
td {
  padding: 0 15px 0 15px;
}

.grid-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 4rem 0;
}

.grid-box a{
  text-decoration: none;
  color: white;
}

.grid-box a:nth-child(1) {
   grid-column: span 2;
 }
 .grid-box a:nth-child(5) {
}

.grid-item{
  background-color: rgba(49, 48, 44, 1);
  text-align: center;
  position: relative;
  border-radius: 5px;
}
.grid-item h3{
  border-top: 1px solid;
  padding: 1rem;
  backdrop-filter: blur(5px);
}

.grid-item img {
  max-height: 204px;
  width: 100%;
  margin-bottom: 12px;
}

@media screen and (min-width: 800px) {
  article {
    max-width: 1000px;
    gap: 2rem;
  }
  .current__weather {
    background: url("https://source.unsplash.com/random?weather");
    padding: 1rem;
  }
  .full-width {
    display: block;
  }
.forecasts{
}
  .forcastItem {
  text-align: left;
    padding: 0.6rem 1.2rem;
  }

  .pong {
    display: flex;
    gap: 0.7rem;
    align-items: center;
  }
}
